*{
    margin: 0;
}
body{
    margin: 0;
}
header{
    height: 70vh;
    background: black;
}
.first{
    height: 200vh;
    background: cadetblue;
    display: flex;
}

.second{
    width: 1440px;
    height: 650px;
    background-image: url("photo/contactIMG.png");
    /*display: flex;*/
    /*!*flex-direction: column;*!*/
    /*!*justify-content: center; !* Центрує по вертикалі *!*!*/
    /*!*align-items: center; !* Центрує по горизонталі *!*!*/

}
.title{
    color: #FF4B32;
    text-align: center;
    font-size: 24px;
    font-family: "Open Sans";
    margin-bottom: 65px;
    margin-top: 112px;
}
.name{
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 43px;
    margin-bottom: 60px;
}
.number {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    margin-bottom: 24px;
}
.phone-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-image: url('photo/Telephone.png'); 
    width: 24px;
    height: 24px;
}
.mail{
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    margin-bottom: 71px;
}
.mail-icon{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background-image: url('photo/gmail loogo.png');
    width: 20px;
    height: 15px;
}
.social-networks{
   text-align: center;
}
.social-networks img {
    margin: 0 10px;
}





.third{
    height: 1024px;
    width: 1440px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.page-header{
    text-align: center;
    color: #000;
    font-size: 43px;
    font-family: "Josefin Sans";
    margin-top: 152px;
    margin-bottom: 20px;
}
.text{
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: "Open Sans";
    margin-bottom: 60px;
}

.box-cards{
    height: 362px;
    width: 1146px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 147px;
}
.one{
    width: 362px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0px rgba(0, 0, 0, 0.20);
}
.two{
    width: 362px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0px rgba(0, 0, 0, 0.20);

}
.free{
    width: 362px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0px rgba(0, 0, 0, 0.20);

}
.---{
    height: 362px;
    width:30px;
    background-color: rgba(245, 222, 179, 0);
}
.cards-one{
    width: 362px;
    height: 300px;
    flex-shrink: 0;
}
.cards-two{
    width: 362px;
    height: 300px;
    flex-shrink: 0;
}
.cards-free{
    width: 362px;
    height: 300px;
    flex-shrink: 0;
}
.box-cards > div:not(:last-child) {
    margin-right: 7px;
}

h2{
    color: #000;
    font-size: 32px;
    text-align: start;
    font-family: "Josefin Sans";
    margin-left: 30px;
    margin-top:30px;
}
.middle{
    color: #000;
    font-size: 16px;
    text-align: start;
    font-family: "Open Sans";
    margin-left: 30px;
    margin-top: 10px;
}
.limb{
    color: #FF4B32;
    font-size: 16px;
    text-align: start;
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Open Sans";
}
footer{
    height: 40vh;
    background: lightskyblue;
}